@media (max-width: 1200px) {
    .logo img {
        /* width: 80%; */
    }

    .navbar>.container {
        justify-content: inherit;
        display: inherit;
        max-width: 90%; 
    }

    .navbar-nav,
    button.btn.btn-primary {
        position: inherit;
    }

    .prime-cta {
        color: white;
        position: relative;
        top: 1rem;
    }

    .btf-bg {
        background-image: url('../images/Lines and Arrows_Top arrows.svg'); /* Replace with your image path */
        background-size: cover;
        /* /* height: 1900px; */
        position: relative;
        max-width: 100%;
        margin: auto;
        bottom: 170px; 
        background-size: cover;
        background-position: center;
        position: relative;
        bottom: 3rem;
        left: 0;
        right: 0;
        height: 1200px;
        z-index: -1; /* Ensure the background image sits behind everything else */   
    }

    .big-btn {
        top: 4rem;
    }
}


@media (max-width: 1010px) {
    .navbar-nav,
    button.btn.btn-primary {
        position: inherit;
    }
    
    .btf-bg {
        bottom: 5rem;
    }

    .big-btn {
        font-size: 3rem;
    }

}

@media (max-width: 767px) {
    .navbar-brand {
        width: 68%;
    }

    .navbar-toggler {
        font-size: smaller;
        border: none;
        line-height: 2rem;
    }

    .nav-link {
        color: #14555E;
        font-size: 15px;
    }

    .hero-bg .container {
        z-index: 2; /* Ensure the content is above the overlay */
        top: 0;
        padding: 5%;
        /*Still need to align center or something here*/
    }

    .hero-bg {
        max-height: none;
        height: 100%;
        padding 10%;
    }

    .container .row {
        padding: 5%;
    }

    .container.position-relative .logo {
        text-align: center;
    }

    .big-btn {
        font-size: 2rem;
    }

 }
